<footer>
  <a href="https://github.com/krames12/wow-character-progress" alt="Pug Check on Github" class="social-icon"><span class="fa fa-github"></span></a>
  <a href="https://twitter.com/krames12" alt="Nick Kramer on Twitter" class="social-icon"><span class="fa fa-twitter"></span></a>
  <p>
    Class icons created by <a href="https://dribbble.com/harlanelam">Harlan Elam</a> and the Blizzard Entertainment &#169; design team.
  </p>
</footer>
