<form id="search-form" onSubmit="return false;">
  <label for="character">Character Name</label>
  <input type="text" name="character" id="character-name" />
  <label for="server">Server Name</label>
  <input type="text" name="server" id="server-name" />
  <label for="region">Region</label>
  <select name="region" id="region-name">
    <option value="us">US</option>
    <option value="eu">EU</option>
  </select>
  <input type="submit" value="submit" />
</form>
