<form id="search-form" onSubmit="return false;">
  <label for="character">Character Name</label>
  <input type="text" name="character" id="character-name" / required>
  <label for="server">Server Name</label>
  <input type="text" name="server" id="server-name" / required>
  <label for="region" id="region-label">Region</label>
  <select name="region" id="region-name">
    <option value="us">US</option>
    <option value="eu">EU</option>
  </select>
  <input type="submit" value="Find Character" id="find-character-button" />
</form>
