<form id="search-form" method="get">
  <label for="character">Character Name</label>
  <input type="text" name="character" id="character-name" />
  <label for="server">Server Name</label>
  <input type="text" name="server" id="server-name" />
  <input type="submit" value="submit" />
</form>
