<!doctype html>
<html lang="en">
<head>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% include partials/search-form.ejs %>

    <p><%= info.name %> has an item level of <%= info.itemLevel %></p>

    <h3>Raid Info:</h3>
    <ul>
      <% for(var i = 0; i < info.progress.length; i++) { %>
        <li><%= info.progress[i].name %></li>
        <ul>
          <% for(var b = 0; b < info.progress[i].bosses.length; b++) { %>
            <li>
              <%= info.progress[i].bosses[b].bossName %>
            </li>
          <% } %>
        </ul>
      <% } %>
    </ul>

    <script src="/public/app.js"></script>
</body>
</html>
