<!doctype html>
<html lang="en">
<head>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b28b7d5db1.js"></script>
    <link href="/public/reset.css" rel="stylesheet" />
    <link href="/public/styles.css" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>PugCheck</title>
</head>
<body>
  <h1 class="title"><strong>Pug</strong>Check</h1>
  <div class="search-container">
    <% include partials/search-form.ejs %>
  </div>
  <p id="error-message">
    That character or server cannot be found!
  </p>

  <script src="/public/app.js"></script>
</body>
</html>
