<!doctype html>
<html lang="en">
<head>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% include partials/search-form.ejs %>

    <p>
      This is a different page
    </p>
</body>
</html>
