<!doctype html>
<html lang="en">
<head>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="/public/reset.css" rel="stylesheet" />
    <link href="/public/styles.css" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Document</title>
</head>
<body>
  <div class="search-container search">
    <% include partials/search-form.ejs %>
  </div>

    <script src="/public/app.js"></script>
</body>
</html>
