body {
  background-color: #263238;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
}

h3 {
  text-align: center;
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

.container {
  min-width: 310px;
  width: 75%;
  margin: auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#search-form {
  text-align: center;
  margin: 20px 0;
}

#find-character-button {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 50px;
  background-color: #263238;
  border: 1px solid #F24236;
  transition: all 0.3s ease-in-out;
}

#find-character-button:hover {
  background-color: #F24236;
}

.class-icon {
  margin: 10px auto;
  padding: 10px;
  border-radius: 50%;
}

.character-info {
  text-align: center;
  margin: 20px 0;
}

.character-name {
  font-size: 1.4em;
}

.item-level {
  display: block;
}

.item-level {
  font-weight: 500;
}

/* Class colors */

.death-knight {
  border: 8px solid #C41F3B;
}

.demon-hunter {
  border: 8px solid #A330C9;
}

.druid {
  border: 8px solid #FF7D0A;
}

.hunter {
  border: 8px solid #ABD473;
}

.mage {
  border: 8px solid #69CCF0;
}

.monk {
  border: 8px solid #00FF96;
}

.paladin {
  border: 8px solid #F58CBA;
}

.priest {
  border: 8px solid #FFFFFF;
}

.rogue {
  border: 8px solid #FFF569;
}

.shaman {
  border: 8px solid #0070DE;
}

.warlock {
  border: 8px solid #9482C9;
}

.warrior {
  border: 8px solid #C79C6E;
}

/* End class colors */

.raid-instance {
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-top: 1px solid #F24236;
  border-bottom: 1px solid #F24236;
}

.raid-bosses {
  margin: 0 auto;
}

.not-expanded, .expanded {
  float: left;
  text-align: left;
}

.instance-name {
  text-align: center;
}

.killed {
  color: white;
  font-size: 1em;
}

.not-killed {
  opacity: 0;
  font-size: 1em;
}
